In [1]:
#import wrds
#db = wrds.Connection()

In [2]:
import pandas as pd
import numpy as np

# read in compustat/crsp linking table
link=pd.read_csv('quant_analysis/a6f84adbf39c2211.csv')
link =link.rename(columns={"LPERMNO": "PERMNO"})
link['fyear'] = pd.to_datetime(link['fyear'], format='%Y').dt.to_period('Y')
link.head()

,GVKEY,PERMNO,datadate,fyear,indfmt,consol,popsrc,datafmt,conm,curcd,csho,exchg,costat,prcc_c
0,1004,54594,20100531,2009,INDL,C,D,STD,AAR CORP,USD,39.484,11,A,22.98
1,1004,54594,20110531,2010,INDL,C,D,STD,AAR CORP,USD,39.781,11,A,27.47
2,1004,54594,20120531,2011,INDL,C,D,STD,AAR CORP,USD,40.273,11,A,19.17
3,1004,54594,20130531,2012,INDL,C,D,STD,AAR CORP,USD,39.382,11,A,18.68
4,1004,54594,20140531,2013,INDL,C,D,STD,AAR CORP,USD,39.560,11,A,28.01

In [3]:
# read in compustat data
compustat_df = pd.read_csv('quant_analysis/72b0e3ef6d338179.csv')
compustat_df = compustat_df.rename(columns={"gvkey": "GVKEY"})
compustat_df['fyear'] = pd.to_datetime(compustat_df['fyear'], format='%Y').dt.to_period('Y')
compustat_df.head()

,GVKEY,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,cusip,conm,curcd,bkvlps,csho,exchg,costat
0,1004,20180531,2017,INDL,C,D,STD,AIR,000361105,AAR CORP,USD,26.9703,34.716,11,A
1,1004,20190531,2018,INDL,C,D,STD,AIR,000361105,AAR CORP,USD,26.0406,34.788,11,A
2,1004,20200531,2019,INDL,C,D,STD,AIR,000361105,AAR CORP,USD,25.7173,35.097,11,A
3,1045,20171231,2017,INDL,C,D,STD,AAL,02376R102,AMERICAN AIRLINES GROUP INC,USD,8.2564,475.508,14,A
4,1045,20181231,2018,INDL,C,D,STD,AAL,02376R102,AMERICAN AIRLINES GROUP INC,USD,-0.3669,460.611,14,A

In [4]:
# merge linking table with compustat data
working_merge = compustat_df.merge(link, how='left',on=['fyear','GVKEY'])
working_merge.head()

,GVKEY,datadate_x,fyear,indfmt_x,consol_x,popsrc_x,datafmt_x,tic,cusip,conm_x,...,indfmt_y,consol_y,popsrc_y,datafmt_y,conm_y,curcd_y,csho_y,exchg_y,costat_y,prcc_c
0,1004,20180531,2017,INDL,C,D,STD,AIR,000361105,AAR CORP,...,INDL,C,D,STD,AAR CORP,USD,34.716,11.0,A,39.29
1,1004,20190531,2018,INDL,C,D,STD,AIR,000361105,AAR CORP,...,INDL,C,D,STD,AAR CORP,USD,34.788,11.0,A,37.34
2,1004,20200531,2019,INDL,C,D,STD,AIR,000361105,AAR CORP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1045,20171231,2017,INDL,C,D,STD,AAL,02376R102,AMERICAN AIRLINES GROUP INC,...,INDL,C,D,STD,AMERICAN AIRLINES GROUP INC,USD,475.508,14.0,A,52.03
4,1045,20181231,2018,INDL,C,D,STD,AAL,02376R102,AMERICAN AIRLINES GROUP INC,...,INDL,C,D,STD,AMERICAN AIRLINES GROUP INC,USD,460.611,14.0,A,32.11

In [5]:
# read in crsp data
crsp_df = pd.read_csv('quant_analysis/f80d5a3831bae497.csv')
crsp_df['fyear'] = pd.to_datetime(crsp_df['date'], format='%Y%m%d').dt.to_period('Y')
crsp_df['date'] = pd.to_datetime(crsp_df['date'], format='%Y%m%d').dt.to_period('d')
crsp_df

,PERMNO,date,EXCHCD,TICKER,COMNAM,CUSIP,PRC,SHROUT,CFACPR,CFACSHR,fyear
0,10026,2018-01-02,3,JJSF,J & J SNACK FOODS CORP,46603210,149.17999,18668.0,1.0,1.0,2018
1,10026,2018-01-03,3,JJSF,J & J SNACK FOODS CORP,46603210,147.69000,18668.0,1.0,1.0,2018
2,10026,2018-01-04,3,JJSF,J & J SNACK FOODS CORP,46603210,149.73000,18668.0,1.0,1.0,2018
3,10026,2018-01-05,3,JJSF,J & J SNACK FOODS CORP,46603210,148.30000,18668.0,1.0,1.0,2018
4,10026,2018-01-08,3,JJSF,J & J SNACK FOODS CORP,46603210,148.41000,18668.0,1.0,1.0,2018
...,...,...,...,...,...,...,...,...,...,...,...
2762046,93436,2019-12-24,3,TSLA,TESLA INC,88160R10,425.25000,180245.0,1.0,1.0,2019
2762047,93436,2019-12-26,3,TSLA,TESLA INC,88160R10,430.94000,180245.0,1.0,1.0,2019
2762048,93436,2019-12-27,3,TSLA,TESLA INC,88160R10,430.38000,180245.0,1.0,1.0,2019
2762049,93436,2019-12-30,3,TSLA,TESLA INC,88160R10,414.70001,180245.0,1.0,1.0,2019
2762050,93436,2019-12-31,3,TSLA,TESLA INC,88160R10,418.32999,180245.0,1.0,1.0,2019

In [6]:
# merge crsp data with compustat data
final_merge = working_merge.merge(crsp_df, how='inner',on=['fyear','PERMNO'])
final_merge.shape

(2660588, 36)

In [7]:
final_merge.head()

,GVKEY,datadate_x,fyear,indfmt_x,consol_x,popsrc_x,datafmt_x,tic,cusip,conm_x,...,prcc_c,date,EXCHCD,TICKER,COMNAM,CUSIP,PRC,SHROUT,CFACPR,CFACSHR
0,1004,20190531,2018,INDL,C,D,STD,AIR,000361105,AAR CORP,...,37.34,2018-01-02,1,AIR,A A R CORP,00036110,39.45,34729.0,1.0,1.0
1,1004,20190531,2018,INDL,C,D,STD,AIR,000361105,AAR CORP,...,37.34,2018-01-03,1,AIR,A A R CORP,00036110,39.14,34729.0,1.0,1.0
2,1004,20190531,2018,INDL,C,D,STD,AIR,000361105,AAR CORP,...,37.34,2018-01-04,1,AIR,A A R CORP,00036110,38.75,34729.0,1.0,1.0
3,1004,20190531,2018,INDL,C,D,STD,AIR,000361105,AAR CORP,...,37.34,2018-01-05,1,AIR,A A R CORP,00036110,38.83,34729.0,1.0,1.0
4,1004,20190531,2018,INDL,C,D,STD,AIR,000361105,AAR CORP,...,37.34,2018-01-08,1,AIR,A A R CORP,00036110,39.18,34729.0,1.0,1.0

In [8]:
# calculate adjusted shares outstanding and adjusted share price
final_merge['SHROUT_ADJ'] = (final_merge['SHROUT'] * final_merge['CFACSHR']) * 1000
final_merge['PRC_ADJ'] = final_merge['PRC'] / final_merge['CFACPR']

In [9]:
import copy
# create the data frame to work with
df = final_merge[['date','fyear','tic','PERMNO','COMNAM','bkvlps','PRC_ADJ','SHROUT_ADJ']].copy(deep=True)
df.head()

         date fyear  tic   PERMNO      COMNAM   bkvlps  PRC_ADJ  SHROUT_ADJ
0  2018-01-02  2018  AIR  54594.0  A A R CORP  26.0406    39.45  34729000.0
1  2018-01-03  2018  AIR  54594.0  A A R CORP  26.0406    39.14  34729000.0
2  2018-01-04  2018  AIR  54594.0  A A R CORP  26.0406    38.75  34729000.0
3  2018-01-05  2018  AIR  54594.0  A A R CORP  26.0406    38.83  34729000.0
4  2018-01-08  2018  AIR  54594.0  A A R CORP  26.0406    39.18  34729000.0

In [10]:
# calculate price-to-book ratio and daily return for each stock
df['pb_ratio']=df['PRC_ADJ']/df['bkvlps']
df['RETURN'] = (df['PRC_ADJ'] / df['PRC_ADJ'].shift(1) - 1)

# drop NaNs and limit P/B to maximum of 3
df=df.dropna()
df1=df[df['pb_ratio']<3]
df1.head()

,date,fyear,tic,PERMNO,COMNAM,bkvlps,PRC_ADJ,SHROUT_ADJ,pb_ratio,RETURN
1,2018-01-03,2018,AIR,54594.0,A A R CORP,26.0406,39.14,34729000.0,1.503038,-0.007858
2,2018-01-04,2018,AIR,54594.0,A A R CORP,26.0406,38.75,34729000.0,1.488061,-0.009964
3,2018-01-05,2018,AIR,54594.0,A A R CORP,26.0406,38.83,34729000.0,1.491133,0.002065
4,2018-01-08,2018,AIR,54594.0,A A R CORP,26.0406,39.18,34729000.0,1.504574,0.009014
5,2018-01-09,2018,AIR,54594.0,A A R CORP,26.0406,38.73,34729000.0,1.487293,-0.011485

In [11]:
df1.head()

,date,fyear,tic,PERMNO,COMNAM,bkvlps,PRC_ADJ,SHROUT_ADJ,pb_ratio,RETURN
1,2018-01-03,2018,AIR,54594.0,A A R CORP,26.0406,39.14,34729000.0,1.503038,-0.007858
2,2018-01-04,2018,AIR,54594.0,A A R CORP,26.0406,38.75,34729000.0,1.488061,-0.009964
3,2018-01-05,2018,AIR,54594.0,A A R CORP,26.0406,38.83,34729000.0,1.491133,0.002065
4,2018-01-08,2018,AIR,54594.0,A A R CORP,26.0406,39.18,34729000.0,1.504574,0.009014
5,2018-01-09,2018,AIR,54594.0,A A R CORP,26.0406,38.73,34729000.0,1.487293,-0.011485

In [12]:
def rebalance(df,x):
    df['value'] = ((x/20 * df['RETURN']))+x/20
    return df
    
def reconstitute(df,x):
    df = df.sort_values(by='pb_ratio', ascending=False)[0:20].reset_index(drop=True)
    df = rebalance(df,x)
    return df

In [13]:
dates = df['date'].unique()
col = ['date','fyear','tic','PERMNO','PRC_ADJ','pb_ratio']
mf = pd.DataFrame(np.zeros((0,len(col))), columns=col)
mf_work = pd.DataFrame(np.zeros((20,len(col))), columns=col)

# start with 10000
x=10000

# Every day reinvest in firms with the lowest P/B ratios (with P/B ratio capped at 3)
for date in dates:
    
    # get data @ time period
    df2 = df1[df1['date']==date][['date', 'PERMNO', 'tic','PRC_ADJ','pb_ratio','RETURN']] 
    mf_work = reconstitute(df2,x)
    
    # new value of portfolio
    x = mf_work['value'].sum()

    mf = mf.append(mf_work).reset_index(drop=True)

In [14]:
hpr = ((x-10000)/10000)*100
annualized = (1+hpr)**(1/2) - 1

print('Money invested:   \t\t $ %.2f' % 10000)
print('Value of portfolio after year 2: $ %.2f ' % x)
print('\nHolding period return: %.2f'% hpr,'%')
print('Annualized HPR: %.2f'% annualized,'%')

Money invested:   		 $ 10000.00
Value of portfolio after year 2: $ 52349.33

Holding period return: 423.49 %
Annualized HPR: 19.60 %